html {
  padding-left: 10px;
}
body{
    font-size: 100%;
    font-family: "Times New Roman", Georgia, Serif;
  }
  
  .event-calendar{
    height:720px;
    width: 900px;
    display: inline-flex;
  }

  .time {
    
    text-align: right;
    background-color: white;
    height:720px;
    padding-right: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.5em;
    box-sizing: border-box;
  }
  
  .time span{
    font-size: 15px;
    font-weight: bold;
    color: #696969;
  }

  .calendar {
    height: 720px;
    width: 620px;
    padding: 0px 10px;
    background-color: #F0F0F0;
    border-color: #D1D1D1;
    border-style: solid;
    border-width: 1px;
    padding: 0px 10px;
    box-sizing: border-box;
  }

    .event {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-left-width: 5px;
    border-color: #D1D1D1;
    border-left-color: #2cca76;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    font-size: 0.5em;
    box-sizing: border-box;
	box-shadow: 2px 2px #2dd869;
  }
  
 
   .event .title {
    color: #2cca76;
    font-size: 15px;
  }